* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.continer {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
.Header-select select {
  border: none;
}
.Header-all {
  padding: 20px 0 0 0;
  height: 60px;
  border-bottom: 1px solid #fafafb;
}
.header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.Header-1-block-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.Header-btn-1 button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 5px;
  cursor: pointer;
}

.Header-btn-2 button {
  background-color: #fff;
  cursor: pointer;
  border: none;
}
.Header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Heading-all {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Heading-link a:hover {
  color: #000;
  border-bottom: #000 1px solid;
}
.Heading-link a {
  text-decoration: none;
  color: #a0a0a0;
  transition: all 0.5s;
  border-bottom: #fff 1px solid;
}
.Heading-link {
  display: flex;
  gap: 20px;
  font-weight: 600;
}
.Heading-sorche {
  width: 635px;
  height: 50px;
  top: 86px;
  left: 356px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Heading-sorche input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: #d8d8d8 1px solid;
}
.Heading-sorche button:hover {
  background-color: #000;
}
.Heading-sorche button {
  width: 127px;
  background-color: #d8d8d8;
  height: 40px;
  color: #fff;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.Heading-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.app {
  display: flex;
  flex-direction: column;
}
.Banner-text {
  width: 573.17px;
  height: 228.49px;
  top: 254px;
  gap: 0px;
  opacity: 0px;
  font-size: 54px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fff;
  position: relative;
}
.Banner-bg-img img {
  position: absolute;
  height: 700px;
  left: 190px;
  width: 80%;
}
.Main {
  display: flex;
  flex-direction: column;
}
.Glassess-block-btn img {
  width: 397px;
  height: 420px;
  gap: 0px;
  opacity: 0px;
  border-radius: 10px 10px 0 0;
}
.Glassess-block-btn {
  width: 397px;
  height: 430px;
  gap: 0px;
  opacity: 0px;
  background-color: #fff;
  margin: 0 0 200px 0;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  border-bottom: 3px solid #fff;
}
.Glassess-block-btn:hover {
  border-bottom: 2px solid #000;
  transform: translateY(-30px);
}
.Glassess-all {
  margin: 400px 0 0 0;
}
.Glassess-block {
  display: flex;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Glassess-block-btn img {
  position: absolute;
}
.Glassess-block-btn-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 40px 20px 20px 20px;
}

.Glassess-block-btn-text p {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #223263;
  font-family: sans-serif;
}
.Product-all-product-1-block-mini {
  width: 301px;
  height: 389px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.Product-all-product-1-block-mini:hover {
  border-bottom: 1px solid #000;
  margin: -50px 0 0 0;
  border-radius: 10px 10px 0 0;
}
.Product-all-product-1-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Product-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.Product-all-link a {
  text-decoration: none;
  color: #a8a8a8;
  transition: 0.5s;
  border-bottom: #fff 1px solid;
  font-size: 18px;
}
.Product-all-link a:hover {
  border-bottom: #000 1px solid;
  color: #000;
}
.Product-all-link {
  display: flex;
  gap: 20px;
}

.star::before {
  content: "";
  display: block;
  padding-top: 100%;
  background: currentColor;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  width: 12px;
  height: 12px;
}
.star:hover {
  color: rgb(255, 145, 0);
}
.star {
  color: rgb(158, 158, 158);
}
.star-block {
  display: flex;
  gap: 10px;
}
.Product-all-product-1-block-mini img {
  width: 299px;
  height: 290px;
}
.Product-all-product-1-block-mini-text-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.Product-all-product-1-block-mini-text p {
  font-size: 18px;
  color: #223263;
  font-weight: 600;
}
.Product-all-product-1-block-mini-price h2 {
  color: rgb(16, 46, 16);
}
.Product-all-product-1-block-mini-price span {
  color: #fb7181;

  font-weight: 600;
}
.Product-all-product-1-block-mini-price p {
  color: #bbbfcc;
}
.Product-all-product-1-block-mini-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.heart {
  --accent: #aa0946;
  --background: #690734;
  --glow: #48112a44;
}
.icon {
  font-size: 4rem;
  color: var(--accent);
  padding: 0.5rem;
  border-radius: 9px;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
}
.heart-block img {
  position: absolute;
  width: 25px;
  height: 25px;
  margin: -340px 0 0 -20px;
  color: rgb(255, 0, 21);
}
.Heading-logo img {
  width: 94px;
  height: 87px;
  top: 4449.03px;
  left: 180.19px;
  gap: 0px;
  opacity: 0px;
}
.Footer-logo img {
  width: 104px;
  height: 97px;
  top: 4449.03px;
  left: 180.19px;
  gap: 0px;
  opacity: 0px;
}
.Footer-all {
  height: 500.59px;
  width: 100%;
  margin: 100px 0 0 0;
}
.Footer-block {
  display: flex;
  justify-content: space-between;
}
.Footer-block-mini {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Footer-block-mini a {
  text-decoration: none;
  color: #000;
  border-bottom: #fff 1px solid;
  transition: all 0.5s;
}
.Footer-block-mini a:hover {
  border-bottom: #000 1px solid;
}
.Footer-block-mini h1 {
  font-size: 27px;
}
.Footer-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
hr {
  border: #d1d1d1 1px solid;
  width: 100%;
  margin: 90px 0 0 0;
  left: 5%;
}
.Footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px 0;
}
.Footer-img {
  display: flex;
  gap: 20px;
}
.Product-all-product-1-block-all {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Product-all-product-all-btn {
  display: flex;
  align-content: inherit;
  justify-content: center;
  justify-content: space-between;
  padding: 30px 0;
}
.Product-all-product-all-btn button {
  background-color: inherit;
  width: 60px;
  height: 40px;
  border: #d6d6d6 1px solid;
  transition: all 0.5s;
  border-radius: 5px;
}
.Product-all-product-all-btn button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
 
}

.Product-all-product-1-block{
  flex-wrap: wrap;
}



/* yfre */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-bg-img{
  position: absolute;
  width:85%;
  height: 700px;
  left: 150px;
  z-index: 0;
}
.my-headline {
  font-feature-settings: "ss01","dlig";
--column-count: 6;
--gutter: 0px;
--inner-width: min(calc(100vw - 240px),1200px);
--font-family: "Inter var",-apple-system,BlinkMacSystemFont,"Roboto","Open Sans",sans-serif;
--display-font-family: "InterDisplay var","Inter",-apple-system,BlinkMacSystemFont,"Roboto","Open Sans",sans-serif;
--black: 15,18,22;
--black-pure: 0,0,0;
--white: 255,255,255;
--blue: 96,44,245;
--blue-bright: 106,54,255;
--cyan: 123,168,255;
--magenta: 248,50,151;
--yellow: 255,939,94;
--link-color: 111,164,248;
--primary-vertical-section-spacing: 200px;
-webkit-font-smoothing: antialiased;
color: rgba(var(--white),1);
text-align: center;
box-sizing: border-box;
margin: 0;
border: 0;
outline: 0;
font-style: inherit;
vertical-align: baseline;
padding: .5em 0;
font-family: var(--display-font-family);
font-size: 100px;
font-weight: 900;
line-height: 1;
letter-spacing: -.015em;
background: url(https://d33wubrfki0l68.cloudfront.net/_next/static/media/f4f16a82938b3471164dab57854d8c5b36bff0ff/big-gradient-2.cec2615303f228afe4e48bc145bee6a7.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transform: translateZ(0);
}

