@media screen and (max-width: 1235px) {
  .login-all {
    padding: 0 500px 0 0;
  }
}

@media screen and (max-width: 700px) {
  .login-all {
    padding: 0 800px 0 0;
  }
}
@media screen and (max-width: 550px) {
  .login-all {
    padding: 0 1000px 0 0;
  }
}
