* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;

}

.container {
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.Header-select select {
  cursor: pointer;
  border: none;
  outline: none;
}

option {
  cursor: pointer;
}

.Header-all {
  width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4d68f;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.Header-1-block-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.Header-btn-1 button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 5px;
  cursor: pointer;
}

.Header-btn-2 button {
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.Header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Heading-all {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  padding: 0 160px;
  margin: 0 0 50px 0;
  border-bottom: #8d8d8d 1px solid;
  -webkit-box-shadow: 0px 11px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 39px 0px rgba(0, 0, 0, 0.75);
}

.Banner-all {
  padding-top: 100px;
}

.Banner-block {
  margin: 0 20px;
}

.Heading-link a:hover {
  color: #000;
  border-bottom: #000 1px solid;
}

.Heading-link a {
  text-decoration: none;
  color: #a0a0a0;
  transition: all 0.5s;
  border-bottom: #fff 1px solid;
  display: flex;
  align-content: inherit;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.Heading-link {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.Heading-sorche {
  width: 635px;
  top: 86px;
  left: 356px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  transition: all 0.5s;
}

.Heading-sorche:hover {
  border: #000 1px solid;
  height: 42px;
  background-color: #000;
}

.Heading-sorche input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: #d8d8d8 1px solid;
}

.Heading-sorche button:hover {
  background-color: #000;
}

.Heading-sorche button {
  width: 127px;
  background-color: #d8d8d8;
  height: 40px;
  color: #fff;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.Heading-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.app {
  display: flex;
  flex-direction: column;
}

.Banner-text {
  width: 573.17px;
  height: 228.49px;
  top: 254px;
  gap: 0px;
  opacity: 0px;
  font-size: 54px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fff;
  position: relative;
}

.Banner-bg-img img {
  position: absolute;
  height: 700px;
  left: 190px;
  width: 80%;
}

.Main {
  display: flex;
  flex-direction: column;
}

.Glassess-block-btn img {
  width: 397px;
  height: 420px;
  gap: 0px;
  opacity: 0px;
  border-radius: 10px 10px 0 0;
}

.Glassess-block-btn {
  width: 397px;
  height: 430px;
  gap: 0px;
  opacity: 0px;
  background-color: #fff;
  margin: 0 0 200px 0;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  border-bottom: 3px solid #fff;
}

.Glassess-block-btn:hover {
  border-bottom: 2px solid #000;
  transform: translateY(-30px);
}

.Glassess-block-btn3 img {
  width: 397px;
  height: 420px;
  gap: 0px;
  opacity: 0px;
  border-radius: 10px 10px 0 0;
  position: absolute;
}

.Glassess-block-btn3 {
  width: 397px;
  height: 430px;
  gap: 0px;
  opacity: 0px;
  background-color: #fff;
  margin: 0 0 200px 0;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  border-bottom: 3px solid #fff;
}

.Glassess-block-btn3:hover {
  border-bottom: 2px solid #000;
  transform: translateY(-30px);
}

.Glassess-all {
  margin: 400px 0 0 0;
}

.Glassess-block {
  display: flex;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.Glassess-block-btn img {
  position: absolute;
}

.Glassess-block-btn-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 40px 20px 20px 20px;
}


.Glassess-block-btn-text p {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #223263;
  font-family: sans-serif;
}

.Glassess-block-btn-text3 p {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #223263;
  font-family: sans-serif;
}

.Product-all-product-1-block-mini {
  width: 301px;
  height: 389px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.imgs img {
  pointer-events: none;
}

.Product-all-product-1-block-mini:hover {
  border-bottom: 1px solid #000;
  margin: -50px 0 0 0;
  border-radius: 10px 10px 0 0;
}

.Product-all-product-1-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Product-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.Product-all-link a {
  text-decoration: none;
  color: #a8a8a8;
  transition: 0.5s;
  border-bottom: #fff 1px solid;
  font-size: 18px;
}

.Glassess-block-btn-text3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 40px 20px 20px 20px;

}

.Product-all-link a:hover {
  border-bottom: #000 1px solid;
  color: #000;
}

.Product-all-link {
  display: flex;
  gap: 20px;
}

.star::before {
  content: "";
  display: block;
  padding-top: 100%;
  background: currentColor;
  clip-path: polygon(50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%);

  width: 12px;
  height: 12px;
}

.star:hover {
  color: rgb(255, 145, 0);
}

.star {
  color: rgb(158, 158, 158);
}

.star-block {
  display: flex;
  gap: 10px;
}

.Product-all-product-1-block-mini img {
  width: 299px;
  height: 290px;
}

.Product-all-product-1-block-mini-text-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.Product-all-product-1-block-mini-text p {
  font-size: 18px;
  color: #223263;
  font-weight: 600;
}

.Product-all-product-1-block-mini-price h2 {
  color: rgb(16, 46, 16);
}

.Product-all-product-1-block-mini-price span {
  color: #fb7181;

  font-weight: 600;
}

.Product-all-product-1-block-mini-price p {
  color: #bbbfcc;
}

.Product-all-product-1-block-mini-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.heart {
  --accent: #aa0946;
  --background: #690734;
  --glow: #48112a44;
}

.icon {
  font-size: 4rem;
  color: var(--accent);
  padding: 0.5rem;
  border-radius: 9px;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
}

.heart-block img {
  position: absolute;
  width: 25px;
  height: 25px;
  margin: -340px 0 0 -20px;
  color: rgb(255, 0, 21);
  cursor: all-scroll;
  z-index: 5;
}


.Heading-logo img {
  width: 94px;
  height: 87px;
  top: 4449.03px;
  left: 180.19px;
  gap: 0px;
  opacity: 0px;
}

.Footer-logo img {
  width: 104px;
  height: 97px;
  top: 4449.03px;
  left: 180.19px;
  gap: 0px;
  opacity: 0px;
}

.Footer-all {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.Footer-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer-block-mini {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Footer-block-mini a {
  text-decoration: none;
  color: #000;
  border-bottom: #fff 1px solid;
  transition: all 0.5s;
}

.Footer-block-mini a:hover {
  border-bottom: #000 1px solid;
}

.Footer-block-mini h1 {
  font-size: 27px;
}

/* fg */
.Footer-block-mini1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Footer-block-mini1 a {
  text-decoration: none;
  color: #000;
  border-bottom: #fff 1px solid;
  transition: all 0.5s;
}

.Footer-block-mini1 a:hover {
  border-bottom: #000 1px solid;
}

.Footer-block-mini1 h1 {
  font-size: 27px;
}


/* ufgb */
.Footer-block-mini2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Footer-block-mini2 a {
  text-decoration: none;
  color: #000;
  border-bottom: #fff 1px solid;
  transition: all 0.5s;
}

.Footer-block-mini2 a:hover {
  border-bottom: #000 1px solid;
}

.Footer-block-mini2 h1 {
  font-size: 27px;
}

.Footer-logo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  border: #d1d1d1 1px solid;
  width: 100%;
  margin: 90px 0 0 0;
  left: 5%;
}

.Footer-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.Footer-img {
  display: flex;
  gap: 20px;
}

.Product-all-product-1-block-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.Product-all-product-all-btn {
  display: flex;
  align-content: inherit;
  justify-content: center;
  justify-content: space-between;
  padding: 30px 0;
}

.Product-all-product-all-btn button {
  background-color: inherit;
  width: 60px;
  height: 40px;
  border: #d6d6d6 1px solid;
  transition: all 0.5s;
  border-radius: 5px;
}

.Product-all-product-all-btn button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.Product-all-product-1-block {

  flex-wrap: wrap;
}

/* yfre */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-bg-img {
  position: absolute;
  width: 85%;
  height: 700px;
  left: 150px;
  z-index: 0;
}

.my-headline {
  font-feature-settings: "ss01", "dlig";
  --column-count: 6;
  --gutter: 0px;
  --inner-width: min(calc(100vw - 240px), 1200px);
  --font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Roboto",
    "Open Sans", sans-serif;
  --display-font-family: "InterDisplay var", "Inter", -apple-system,
    BlinkMacSystemFont, "Roboto", "Open Sans", sans-serif;
  --black: 15, 18, 22;
  --black-pure: 0, 0, 0;
  --white: 255, 255, 255;
  --blue: 96, 44, 245;
  --blue-bright: 106, 54, 255;
  --cyan: 123, 168, 255;
  --magenta: 248, 50, 151;
  --yellow: 255, 939, 94;
  --link-color: 111, 164, 248;
  --primary-vertical-section-spacing: 200px;
  -webkit-font-smoothing: antialiased;
  color: rgba(var(--white), 1);
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  vertical-align: baseline;
  padding: 0.5em 0;
  font-family: var(--display-font-family);
  font-size: 100px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.015em;
  background: url(https://d33wubrfki0l68.cloudfront.net/_next/static/media/f4f16a82938b3471164dab57854d8c5b36bff0ff/big-gradient-2.cec2615303f228afe4e48bc145bee6a7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: translateZ(0);
}

.Output {
  padding: 6 0px 0;
}

.Product-all-product-1-block {
  display: flex;
}

.Heading-link-img {
  width: 40px;
  height: 20px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px 0;
  gap: 20px;
}

.login h1 {
  text-align: center;
}

.login-input {
  width: 324px;
  height: 40px;
  top: 5px;
  padding: 12px 17px 12px 17px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #e5e5e5;
}

.login-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-bottom-left span {
  color: #bcbcbc;
  font-size: 12px;
}

.login-bottom-right a {
  color: #bcbcbc;
  font-size: 12px;
  text-decoration: none;
}

.login-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.login button:hover {
  background-color: #fff;
  color: #000;
  border: #000 solid 1px;
  cursor: pointer;
}

.login button {
  width: 320px;
  height: 40px;
  top: 226px;
  padding: 10.5px 0px 11.5px 0px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  transition: all 0.5s;
  background-color: #000;
  color: #fff;
  border: #fff solid 1px;
}

.login p {
  text-align: center;
  font-size: 12px;
  color: #8d8d8d;
}

.login p,
a {
  color: #8d8d8d;
}

.none {
  display: none;
}

.block {
  display: block;
}

.Member-block-text p {
  font-size: 26px;
  color: #111111;
  text-align: center;
  font-weight: 600;
}

.Member-block-text h4 {
  font-size: 24px;
  text-align: center;
  color: #111111;
  font-weight: 400;
}

.Member-block-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0 200px 0;
  width: 100%;
}

.Member-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Member-block-text button {
  width: 96.36px;
  height: 39px;
  top: 206px;
  left: 620.81px;
  padding: 7.5px 22.86px 7.5px 21.5px;
  background-color: #111111;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all 0.5s;
}

.Member-block-text button:hover {
  background-color: #fff;
  color: #111111;
  border: 1px solid #111111;
}

.Oredes-praduck-block {
  display: flex;
  border-radius: 10px;
  width: 800px;
  height: 175px;
  gap: 20px;

  padding: 10px;
}
.oreders-mini-all{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Oredes-praduck-block-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Oredes-praduck-block-text-mini {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.Oredes-block {
  padding: 200px 0;
  display: flex;
  gap: 80px;
}

.blok {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Oredes-price {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  border: rgb(218, 218, 218) 1px solid;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}

.Oredes-price h1 {
  font-size: 21px;
}

.Oredes-price-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Oredes-price-block-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: rgb(218, 218, 218) 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.Oredes-price-block-btn button {
  width: 305px;
  height: 60px;
  border-radius: 40px;
  background-color: #fff;
  border: #8d8d8d 1px solid;
  color: #000;
  transition: all 0.5s;
  cursor: pointer;
}

.Oredes-price-block-btn button:hover {
  background-color: #8d8d8d;
  border: #fff 1px solid;
  color: #fff;
}

.Oredes-praduck-block-img img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.Oredes-praduck-block-text-minii select {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.Oredes-praduck-block-text-mini-img {
  cursor: pointer;
  transition: all 0.5s;
  padding: 2px;
  border: #fff 1px solid;
  border-radius: 5px;
}

.Oredes-praduck-block-text-mini-img:hover {
  border: rgb(218, 218, 218) 1px solid;
  background-color: #e3e3e3;
  border-radius: 5px;
}

/* gtrd */
.Oredes-praduck-block {
  transition: all 0.5s;
  border: rgb(218, 218, 218) 1px solid;

}

.Oredes-praduck-block:hover {
  transform: translateX(10px);
}

.About-block {
  width: 100%;
  height: 600px;
  margin: 0 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.About-text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.About-text button {
  width: 130px;
  height: 40px;
  border: 1px solid #8d8d8d;
  background-color: inherit;
  border-radius: 20px;
  transition: 0.5s;
}

.About-text button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #8d8d8d;
}

.About-block-bg {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  background-color: #f5f5f5;
}

.About-img img {
  position: relative;
  height: 600px;
  margin: 3px 0 0 0;
}

.Product-all-product-1-block a {
  text-decoration: none;
}

.WhenPressed-block-1-img img {
  width: 96px;
  height: 96px;
}

.WhenPressed-all {
  padding: 130px 0 0 0;
}

.WhenPressed-block-1-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.WhenPressed-block-bg img {
  width: 600px;
  height: 672px;
}

.WhenPressed-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  z-index: 1;

}

.WhenPressed-block-aboutozi {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.WhenPressed-block-aboutozi h1 {
  font-size: 18px;
  font-weight: 400;
}

.WhenPressed-block-aboutozi h2 {
  font-size: 12px;
  font-weight: 400;
}

.WhenPressed-block-aboutozi img {
  width: 73px;
  height: 73px;
  border-bottom: 1px solid #000;
}

.WhenPressed-block-aboutozi select {
  height: 50px;
  border: #8d8d8d 1px solid;
  border-radius: 2px;
}

.WhenPressed-block-aboutozi button {
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  transition: all 0.5s;
  font-size: 18px;
  font-family: Basiercircle, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.WhenPressed-block-aboutozi button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.WhenPressed-about h2 {
  font-size: 18px;
}

.WhenPressed-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pp {
  display: flex;
  flex-direction: column;
  border: #000 1px solid;
  padding: 20px;
  border-radius: 3px;
}

.buttton {
  width: 100%;
}

.menu {
  display: none;
}

.menu button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.release {
  position: absolute;
  width: 40%;
  height: 1000px;
  background-color: #fff;
  left: 60%;
  z-index: 6;
  top: 0;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  -webkit-box-shadow: -200px 0px 0px 200px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -200px 0px 0px 200px rgba(0, 0, 0, 0.75);
  box-shadow: -200px 0px 0px 20000px rgba(0, 0, 0, 0.75);

}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 90px 0 180px 0;
}

.link a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  transition: all 0.5s;

}

.link a:hover {
  padding: 0 0 0 20px;
  color: #000;
}

.Heading-logoo img {
  width: 100%;
  height: 240px;
  left: 0;
}

/* rtgfd */
.Glassess-block-btn1 img {
  position: absolute;
  width: 397px;
  height: 420px;
  gap: 0px;
  opacity: 0px;
  border-radius: 10px 10px 0 0;
}

.Glassess-block-btn1 {
  width: 397px;
  height: 430px;
  gap: 0px;
  opacity: 0px;
  background-color: #fff;
  margin: 0 0 200px 0;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  border-bottom: 3px solid #fff;
}

.Glassess-block-btn1:hover {
  border-bottom: 2px solid #000;
  transform: translateY(-30px);
}



.Glassess-block-btn-text1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 40px 20px 20px 20px;
}


.Glassess-block-btn-text1 p {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #223263;
  font-family: sans-serif;
}

.ordersmenu button {
  background-color: inherit;
  border: none;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}

.ordersmenu button:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

.chiqarish {
  width: 30%;
  position: absolute;
  background: #fff;
  height: 950px;
  left: 1500px;
  top: 0;
  border: #c2c2c2 1px solid;
  border-radius: 20px 0 0 20px;
  padding:0 30px 0 0;
-webkit-box-shadow: -200px 0px 0px 200px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -200px 0px 0px 200px rgba(0, 0, 0, 0.75);
    box-shadow: -200px 0px 0px 20000px rgba(0, 0, 0, 0.75);
}

.orders-menu img {
  width: 30px;
  height: 30px;
}

.orders-menu {
  z-index: 10;
  position: absolute;
  margin: 10px 0 0 10px;
  width: 30px;
  height: 30px;

}

.imgMini {
  width: 90px;
  border-radius: 10px;
  margin: 0 0 0 -20px;
}

.ordesMiniBlock {
  width: 70%;
  height: 130px;
  border: 1PX solid #cbcbcb;
  padding: 0px 20px;
  margin: 0 0 0 10px;
  border-radius: 10px;
}
.ordesMiniBlock-all{
margin: 20px 0 0 0;
}
.OredesMENU{
  padding: 40px 0 0 0;
}
.ordesMiniBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.orders-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

}
.OredesMENU{
  display: flex;
  flex-direction: column;
  

}
.orders-text button {
  background-color: #dedede;
  color: #fff;
  width: 40px;
  height: 30px;
  font-size: 18px;
}

.chiqarish {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.results img{
    width: 600px;
    height: 672px;
    position: absolute;
margin: -685px 0 0 200px;
z-index: 2;
}
.btn-group button{
  border: none;
}
.btn-group{
  display: flex;
  flex-direction: column;
  gap: 20px;
}